Flask==2.2.2
flask_bcrypt==1.0.1
flask_login==0.6.2
flask_migrate==4.0.4
flask_msearch==0.2.9.2
flask_sqlalchemy==3.0.3
flask_uploads==0.2.1
flask_wtf==1.1.1
pdfkit==1.0.0
stripe==5.1.0
WTForms==3.0.1
